.App {
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1vw; 
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1{
  margin-left: 0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.menu {
  list-style: none;
  flex-direction:row;
  padding-left: 1vmin;
}
.menu li {
  color: white;
  display:inline-block;
  margin-right: 3vmin;
  margin-left: 0;
}

.menu li button {
  color: #61dafb;
  background-color:  #282c34;
  font-size: calc(10px + 2vmin);
}

.menu li button:hover {
  color: white;
  background-color:  #282c34;
  font-size: calc(10px + 2vmin);
}

.content {
  background-color: gray;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  padding-left: 15px; 
  padding-right: 15px; 
  padding-top: 15px; 
  padding-bottom: 15px; 
}

.Simg {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .App {
  width: 100%;
  }
}